.product-containers{
    width: 100%;
}
.product-filter{
    display: flex;
    padding: 10px 0px;
    gap: 20px;
}
.category, 
.best-selling, 
.sort-price{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.category select, 
.best-selling select, 
.sort-price select {
    padding: 5px;
    font-size: 13px;
}
.product-page {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    justify-content: flex-start;
    gap: 10px;
    background-color: white;
}
.product-page a {
    grid-column: span 3;
    margin-top: 10px;
    padding: 10px;    
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.product{
    display: grid;
    grid-template-rows: repeat(14, 1fr);
    gap: 3px;
}
.product img {
    grid-row: span 8;
    max-width: 100%;
}
.product h2 {
    grid-row: span 4;
    margin: 10px 0;
    font-weight: normal;
    font-size: 20px;
}
.product p {
    grid-row: span 1;
    color: #333;
    margin: 3px 0px;
}
.page-number{
    text-align: center;
    margin: 30px 0px 10px 0px;
}
.pagination{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.pagination a {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}
.pagination a:hover{
    background-color: #dff9fb;
}
.pagination a.disabled {
    pointer-events: none;
    opacity: 0.5;
}